# Archivos de entorno
.env
.env.local
.env.production
.env.development

# Otros archivos sensibles
*/config/secrets.yml
*/credentials.json
*/settings/production.py

# Directorios específicos que no deben sincronizarse
node_modules/
__pycache__/
*.pyc
venv/
